<%- unless @feed_entries.empty? -%>
<div class="activity_box">
	<h2>Recent Activity</h2>
	<div class="inside_box">    
		<% @feed_entries.each do |feed_entry| %>
      <%= feed_entry.render %>
		<% end %>
		<div class="clear"></div>      
	</div>
</div>
<%- end -%>